.main-header {
  font-weight: lighter;
}

.search-bar-row {
  width: 75%;
  height: 50px;
}

.questions-container {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 15px;
}

.questions-answers-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: 20%;
  color: rgb(43, 45, 47);
}

.questions-answers-button {
  font-weight: bold;
  background-color: white;
  color: slategray;
  padding: 20px 30px 20px 30px;
  margin-right: 20px;
}

.questions-container-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 5px;
}

.helpful-span {
  font-size: smaller;
  margin-bottom: .5%;
}

.answer-body {
  font-size: medium;
}

.answer{
  align-self: flex-start;
  justify-self: flex-end;
}

.answerer-info {
  font-size: smaller;
}