/* MAIN COMPONENT RATINGS & REVIEW */
.ratingsReviewContainer {
  display: flex;
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
}

.ratingsBreakdown {
  padding: 10px;
  flex: 1;
}

.progress-label-left {
  float: left;
  margin-right: 1em;
  text-decoration: underline;
}

.progress-label-left:hover {
  color: lightgrey;
}

.progress-label-right {
  float: right;
  margin-left: 1em;
}

.reviewsList {
  flex: 2;
  margin-left: 4em;
}
.remove-filter {
  text-decoration: underline;
}
.remove-filter:hover {
  color: lightslategray;
}

.char-bar-label {
  display: flex;
  justify-content: center;
}

.char-bar-label-left {
  display: 'inline-block';
  float: left;
}

.char-bar-label-right {
  display: 'inline-block';
  float: right;
}

.rating-bar-filler {
  width: 100%;
  background: grey;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

.more-reviews-btn {
  margin-right: 5%;
  border: 1px, solid, black;
}

.review-tile {
  overflow-y: scroll;
  max-height: 1000px;
}

#review-summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60ch;
}

.response {
  background: lightgrey;
  height: 50px;
  padding: 20px;
  margin-bottom: 10px;
}

.helpful {
  margin-top: 10px;
}

select {
  border: none;
  text-decoration: underline;
}

.sorting {
  margin-top: 25px;
}

.add-help:hover {
  color: lightslategray;
}
