/* MAIN COMPONENT RATINGS & REVIEW */
.ratingsReviewContainer {
  display: flex;
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
}

.ratingsBreakdown {
  padding: 10px;
  flex: 1;
  /* width: '33%'; */
  /* justify-content: space-between; */

  /* float: 'left'; */
}

.progress-label-left {
  float: left;
  margin-right: 1em;
  text-decoration: underline;
}

.progress-label-left:hover {
  color: lightgrey;
}

.progress-label-right {
  float: right;
  margin-left: 1em;
}

/* .charBar {
  background-color: purple;
  color: white;
} */

.reviewsList {
  flex: 2;
  /* display: flex; */
  /* width: '66%'; */
  /* justify-content: space-between; */
  /* display: 'inline-block'; */
  margin-left: 15%;
}
