/* OVERVIEW */
#root {
  font-size: 15px;
}

.overview {
  display: flex;
  align-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* PHOTO GALLERY DISPLAY AND THUMBNAIL SELECTOR */

.photo-gallery {
  float: left;
  width: 100%;
  height: 450px;
  margin-right: 20px;
  position: relative;
}

.thumbnail-gallery-container {
  list-style: none;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0px;
}

.fullscreen-carousel {
  width: 100%;
  position: relative;
}

.warning-select-size {
  flex-shrink: 0;
  position: absolute;
  top: 0;
  color: red;
}

.zoomPointer :hover {
  cursor: crosshair !important;
}

.default-carousel {
  width: 60%;
  height: 450px;
  position: relative;
}

.fullscreen-button {
  position: absolute;
  right: 5px;
  top: 5px;
  color: lightgray;
}

.fullscreen-button:hover {
  background-color: white;
  opacity: 30%;
}

.photo-gallery-display-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
}

.fullscreen-carousel .photo-gallery-display-image:hover {
  cursor: zoom-in;
}

.thumbnail-gallery-item {
  width: 30px;
  height: 30px;
  padding: 2px;
  border: lightgray solid 1px;
  cursor: pointer;
}

.fullscreen-thumbnails {
  position: absolute;
  bottom: 5px;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}

.fullscreen-selected-thumbnail {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid lightgray;
}

.fullscreen-nonselected-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid lightgray;
  align-self: center;
}

.selected {
  border-bottom: rgb(88, 88, 88) solid 4px;
}

.right-chevron {
  position: absolute;
  bottom: 200px;
  cursor: pointer;
  right: 10px;
  width: 60px;
  height: 40px;
  color: lightgray;
}

.right-chevron:hover {
  background-color: white;
  opacity: 30%;
}

.left-chevron {
  position: absolute;
  bottom: 200px;
  cursor: pointer;
  left: 60px;
  width: 60px;
  height: 40px;
  color: lightgray;
}

.left-chevron:hover {
  background-color: white;
  opacity: 30%;
}

.down-chevron {
  cursor: pointer;
  width: 60px;
  height: 20px;
  margin: auto;
  color: lightgray;
}

.down-chevron:hover {
  background-color: white;
  opacity: 30%;
}

.hidden {
  display: none;
}

.extend-up-displayed {
  cursor: pointer;
  width: 60px;
  height: 20px;
  margin: auto;
  color: lightgray;
}

.extend-up-displayed:hover {
  background-color: white;
  opacity: 30%;
}

/* Product Info */

.product-info {
  padding: 20px;
}

.product-info h1 {
  font-size: 20px;
}

/* Style select and Snapshots */

.snapshot-gallery {
  width: 250px;
  height: 130px;
  padding-top: 10px;
  margin-top: 20px;
}

.thumbnail-gallery-item {
  width: 60px;
  height: 60px;
}

.snapshots {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid lightgray;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.selected-style-indicator:before {
  position: absolute;
  list-style: none;
  content: "✓";
  top: 0;
  right: 0;
}

.selected-style-indicator {
  list-style: none;
  display: block;
}

/* product user interface */

.product-ui {
  padding-top: 20px;
  position: relative;
  width: 300px;
  height: 130px;
}

.size-selector-switch {
  width: 55%;
  position: absolute;
  top:20px;
  left:0px;
  padding-right: 2%
}

.quantity-selector-switch {
  width: 45%;
  position: absolute;
  top: 20px;
  right: 0px;
}

.addToCart {
  width: 79%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* padding-right: 1% */
}

.favorite-button {
  width: 20%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* Description and Features */

.description-features-container {
  /* align-content: flex-start;
  justify-content: center; */
  padding-bottom: 20px;
}
.description-container {
  display: flex;
  /* margin-left: 10%;
  margin-right: 10%; */
}
.description-slogan {
  font-size: small;
}

.description-container div {
  width: 60%;
}

.features-list {
  /* width: 350px; */
  border-left: 1px solid lightgray;
  list-style: none;
  /* padding: 10px; */
}

.features-list li:before {
  content: "✓";
}

.features-list p {
  display: inline;
  padding-left: 5px;
}

.zoomImg {
  will-change: transform;
}

.social-media-icon {
  width: 20px;
  height: 20px;
  display: inline;
}

.social-media-icon:hover {
  cursor: grab;
}

.fake-nav-and-search {
  background-color: lightgray;
  width: 100%;
  height: 30px;
}

.overview-stars {
  display: flex;
}

.review-anchor-link {
  padding-left: 4px;
  color: aqua;
  text-decoration-line: underline;
  font-size: 10px;
  padding-top: 7px;
}

.review-anchor-link:hover {
  cursor: grab;
}